{% load static from staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>TechnoFin</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="One stop for all entrepreneurship resources">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0, user-scalable=no"/>
		<meta name="author" content="StockHub">
		<link href="{% static "offline/css/bootstrap.min.css"%}" rel='stylesheet' type='text/css' />
		<link href="{% static "base.css" %}" rel='stylesheet' type='text/css' />
		<link href="{% static "offline/fonts/lato.css"%}" rel='stylesheet' type='text/css' />
		<link rel="stylesheet" type="text/css" href= "{% static "offline/css/font-awesome.min.css" %}">

		<script type="text/javascript" src="{% static "offline/js/jquery.min.js" %}"></script>
		<script type="text/javascript" src="{% static "offline/js/angular.min.js" %}"></script>
		<script type="text/javascript" src="{% static "offline/js/angular-cookies.min.js" %}"></script>
		<script type="text/javascript" src="{% static "offline/js/angular-messages.min.js" %}"></script>
		<script type="text/javascript" src="{% static "offline/js/angular-animate.min.js" %}"></script>
		<script type="text/javascript" src="{% static "offline/js/angular-sanitize.min.js" %}"></script>
		<script type="text/javascript" src="{% static "offline/js/angular-route.min.js" %}"></script>
		<script type="text/javascript" src="{% static "offline/js/angular-resource.min.js" %}"></script>
		<script type="text/javascript" src="{% static "offline/js/angular-touch.min.js" %}"></script>
		<script type="text/javascript" src="{% static "offline/js/ui-bootstrap-tpls.min.js" %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static "offline/css/ng-img-crop.min.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "offline/css/bootstrap.min.css" %}">
		<script type="text/javascript" src="{% static "offline/js/bootstrap.min.js" %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static "offline/css/font-awesome.min.css" %}">
		<script type="text/javascript" src="{% static "offline/js/Chart.min.js" %}"></script>
		<script type="text/javascript" src="{% static "offline/js/smooch.min.js" %}"></script>
		<script type="text/javascript" src="{% static "offline/js/angular-chart.min.js" %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static "offline/css/css.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "offline/css/nprogress.min.css" %}">
		<script type="text/javascript" src="{% static "offline/js/nprogress.min.js" %}"></script>
		<script type="text/javascript" src="{% static "offline/js/angular-recaptcha.min.js" %}"></script>

		<script type="text/javascript">
			if($(window).width()>767) Smooch.init({
				appToken: 'eakl8lpwgfp9rf8jlymgbqzzr',
				customText: {
				  headerText: 'Feedback/suggestions?',
				  inputPlaceholder: 'Type a message...',
				  sendButtonText: 'Send',
				  introductionText: 'We\'re here to talk, so ask us anything! Your suggestions and feedback are welcome and appreciated.',
				  introAppText:''
				}
			});
		</script>
	</head>
	<body ng-app="techfinStocks">
	<div class="wrapper" ng-controller="home">
	<div class="main">
		<nav class="navbar navbar-default navbar-brand navbar-fixed-top" id="TopNavBar" style="padding:0; margin:0; ">
			<div class="sitelogo navbar-header" style="height: 50px;"> 
				<button type="button" class="navbar-toggle" id="topNavToggleButton" data-toggle="collapse" data-target="#ehTopNavBar">
					<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</button>
				<h3 style="padding-left:20px;"><a href="/index/#home" style="text-decoration: none;">TechnoFin</a></h3>
			</div>
			<div class="collapse navbar-collapse" style="padding-right:50px; height:50px;">
				<ul class="nav navbar-nav navbar-right" >
					<li><a href="#predict" style="color: black;">Predict</a></li>
					<li><a href="#compare" style="color:black;">Compare</a></li>
					<li><a href="#hypothesis" style="color:black;"><i class="fa fa-sticky-note"></i> Hypothesis</a></li>
					<li><a href="#hypothesis" style="color:black;"><i class="fa fa-newspaper-o"></i> News</a></li>
				</ul>
			</div>
		</nav>

		<section class="container-fluid" id="home" style="height: 750px; background-size: cover; padding:0; padding-top:50px;">
			<div class="container-fluid" style="height: 360px; background-color:#2479D7  ;">
				<div style="text-align:center;width:350px; margin:60px auto;">
					<select ng-model="termSelect" class="form-control" style=" height:50px;">
						<option value ="">Select Term type</option>
						<option value ="short">Short Term</option>
						<option value ="mid">Mid Term</option>
						<option value ="long">Long Term</option>
					</select>
					<br><br>
					<button class="btn btn-lg btn-primary" ng-click="termType()">Go to Predict</button>
				</div>
			</div><br><br>
			<div class="container-fluid" style="height: 400px;">
				<div class="col-sm-6 panel-default">
					<div class="panel-heading" style="opacity: 0.9;"><strong>Can we actually predict stock prices?</strong> </div>
					<div class="panel-body" style="color: black;">
						<p style="font-size: 16px;"><strong>
						The Variation observed in stock prices are highly random, and they can fluctuate over a wide range in a relatively short period of time. This makes <i>accurate prediction</i> extremely difficult.<br><br>
						However, we could still hope to make an educated guess, by analyzing the available data and with an appreciable plausibility, decide where we should(and should not) invest our money for gaining the maximum profit.</strong>
						</p>
					</div>
				</div>
				<div class="col-sm-6 panel-default">
					<div class="panel-heading" style="opacity: 0.8; "><strong>What should we do for predicting the stock prices?</strong></div>
					<div class="panel-body" style="color: black;">
						<p style="font-size: 16px;"><strong>
						In our modern socially connected world, various sources of social media consistently plays a major role in predicting the image or relevance of any person or any company in general, thereby determining the stock prices. By extracting relevant data from a myriad of these sources, we can make good educated guesses regarding the prices of the concerned stocks. A few of these sources include:-<br><br>
						+ News<br>
						+ Company tweets<br>
						+ Company History<br>
						+ Industry Trends 
					</div>
				</div>
			</div>	
		</section>

		<section class="container-fluid" id="predict" style="height: 750px; background-size: cover; padding-top:60px;">
			<h3 style="text-align: center;"><strong><i>Predicting Engine</i></strong></h3>
			<div class="container-fluid" style="height: 650px;">
				<div class="col-sm-4">
					<br><br>
					<label>Select Company</label><br>
					<select class="form-control" style="height: 50px;" ng-options="company for company in displayList" ng-model="companySelected" ng-change="companyChanged()"><option value="">Select Company</option>
					</select><br><br><br>

					<label>Prediction Length(default is 2 days)</label><br>
					<select class="form-control" style="height:50px;" ng-options="length for length in predictionLengths" ng-model="lengthSelected" ng-change="lengthChanged()" ><option value="">Select length</option>
					</select><br><br><br>

					<button type="button" class="btn btn-lg btn-primary" id="stockbtn" ng-click="predictInfo()">Run Prediction Engine</button>
				</div>

				<div class="col-sm-8" id="parent_stockprediction">
					<canvas id="canvas_stockprediction"></canvas>
				</div>
			</div>
			<div class="container-fluid"  id="predBtn" style="display: none;bottom:10px;">
				Click here to know about our model prediction accuracy: <button class="btn btn-primary" ng-click="showPred(companySelected)">Model Predictions Accuracy</button>
			</div>
		</section>


		<section class="container-fluid" id="compare" style="height: 850px; padding-top:60px;">
			<h3 style="text-align: center;"><strong><i>Where should you invest?</i></strong></h3>
			<div class="container-fluid" style="margin-top: 50px;">
				<div class="col-sm-4">

					<select class="form-control" style="height: 50px;" ng-options="company for company in displayList" ng-model="companySelected1"><option value="">Select First Company</option>
					</select><br><br><br>
					<select class="form-control" style="height: 50px;" ng-options="company for company in displayList" ng-model="companySelected2"><option value="">Select Second Company</option>
					</select><br><br><br>

					<button type="button" class="btn btn-md btn-primary" id="comparebtn" ng-click="compare()">Compare</button>
					<br><br><br>
				</div>
				<div class="col-sm-8" ng-show="suggestion">
					<table class="table table-hover table-bordered" style="font-size:18px;">
						<thead><tr><th>Factors</th><th>{[{companySelected1}]}</th><th>{[{companySelected2}]}</th></tr></thead>
						<tbody>
							<tr>
								<td>Volatility Index</td><td>{[{compTableInfo.comp1.volIndex}]}</td><td>{[{compTableInfo.comp2.volIndex}]}</td>
							</tr>
							<tr>
								<td>Market Sentiments</td><td>{[{compTableInfo.comp1.marketSent}]}</td><td>{[{compTableInfo.comp2.marketSent}]}</td>
							</tr>
							<tr>
								<td>TurnOver</td><td>{[{compTableInfo.comp1.turnover}]}</td><td>{[{compTableInfo.comp2.turnover}]}</td>
							</tr>
							<tr>
								<td>Volume</td><td>{[{compTableInfo.comp1.volume}]}</td><td>{[{compTableInfo.comp2.volume}]}</td>
							</tr>
							<tr>
								<td>Historical Data</td><td>{[{compTableInfo.comp1.mainMeasure}]}</td><td>{[{compTableInfo.comp2.mainMeasure}]}</td>
							</tr>
						</tbody>
					</table>
					<div class="container-fluid">
						<h4>Taking into consideration all the above factors, our Model suggests you to invest your money in <strong>{[{compTableInfo.ourSuggestion}]}</strong></h4>
					</div>
				</div>
			</div>
		</section>
		<section class="container-fluid" id="hypothesis" style="background-image: url(image/2.jpg); height: 750px; background-size: cover;">
			<h3 style="text-align: center;margin: auto;"><strong>Will be added soon.....</strong></h3>
		</section>
		<section class="container-fluid" id="news">
			
		</section>
	</div></div>
	</body>
	<script type="text/javascript" src="{% static "stocks.js" %}"></script>
</html>